@font-face {
  font-family: DINOT;
  src: url("../font/Dinot\ Font.otf") format("opentype");
}

@font-face {
  font-family: DINOT;
  font-weight: bold;
  src: url("../font/DINOT-Bold.ttf") format("truetype");
}

body {
  background-color: white;
  font-family: DINOT, sans-serif;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 355px;
  height: 147px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
}

.checkout-form {
  border: 2px solid black;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

#date-select {
  width: 150px;
}

table {
  border-collapse: separate;
  border-spacing: 0px 8px;
}

.heading-row {
  outline: black solid 2px;
  border-radius: 10px;
}

.table-header {
  font-size: x-large;
  width: 150px;
}

.quantity-select {
  width: 50px;
}

#name,
#email {
  width: 175px;
}

#availability-btn,
#checkout-btn,
#order-link,
#confirm-btn {
  background-color: #006938;
  color: #FFFFFF;
}
